body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    height: 100vh; 
    padding: 0;
}

header {
    width: 100%;
    text-align: center;
    position: fixed; 
    top: 0;
    background-color: #ffffff; 
    z-index: 10; 
    padding: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0); 
}

header h1 {
    margin: 0;
    font-size: 2;
}

.search-bar input {
    width: 100%;
    padding: 0.75rem;
    font-size: 1;
    border: 1px solid #b7b7b7;
    border-radius: 4px;
}

.search-bar {
    width: 100%;
    max-width: 600px;
    margin-top: 5; 
    margin-bottom: 0.5;
}

.results-container {
    width: 100%;
    max-width: 600px; 
    height: 300px; 
    overflow-y: scroll; 
    border: 1px solid #aba9a9;
    border-radius: 4px;
    padding: 0.5;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0);
    margin-top: 5; 
    margin-bottom: 15; 
    margin-left: auto; 
    margin-right: auto;
}


.results-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.results-container li {
    text-align: left; 
    padding: 0.5;
    border-bottom: 1px solid #858282;
}

.results-container li:last-child {
    border-bottom: none;
}

footer {
    width: 100%;
    position: fixed; 
    bottom: 0;
    background-color: #ffffff; 
    padding: 1;
    text-align: center;
    display: flex;
    justify-content: space-around; 
    z-index: 10;
}

footer a {
    text-decoration: none;
    color: #77ade6;
    font-size: 0.9;
}

footer a:hover {
    text-decoration: underline;
}


@media (max-width: 768px) {
    .results-container {
        max-width: 90%; 
    }

    .search-bar {
        max-width: 90%;
    }

    footer {
        flex-direction: column; 
    }
}